<!--This file is used to display messages when the user is logged in-->
<%- include('layouts/head') -%>
<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/adminpanel'); -%>
    <p class="msgDisplay"><%= msg %></p>
</body>
<%- include('layouts/footer'); -%>